html {
  /* body */

  /* NavBar */

  #navbar {
    position: absolute;
    width: 1440px;
    height: 115px;
    left: calc(50% - 1440px / 2);
    top: 0px;

    background: #405d6d;
    border-bottom: 5px solid #33c5f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* Ofertas */

  #ofertas {
    position: absolute;
    left: 81.67%;
    right: 4.65%;
    top: 31.3%;
    bottom: 24.35%;

    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }

  /* Produtos */

  #produtos {
    position: absolute;
    left: 65.9%;
    right: 20.42%;
    top: 31.3%;
    bottom: 24.35%;

    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }

  /* thothmarket */

  #logo {
    position: absolute;
    left: 8.33%;
    right: 73.19%;
    top: 20.87%;
    bottom: 24.35%;

    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #33c5f3;
  }

  /* div */

  #div {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.39%;
    bottom: 6.69%;

    background: #405d6d;
    border-radius: 10px;
  }

  /* Tela de Cadastro */

  position: relative;
  width: 1440px;
  height: 1645px;

  background: #384b56;
}

/* Tela Inicial */

position: absolute;
left: 50.14%;
right: 36.18%;
top: 31.3%;
bottom: 24.35%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-align: center;

color: #ffffff;

/* Nome */

position: absolute;
left: 6.67%;
right: 51.67%;
top: 5.08%;
bottom: 91.27%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de Nome */

position: absolute;
width: 500px;
height: 61px;
left: 80px;
top: 122px;

background: #ffffff;
border-radius: 10px;

/* Sobrenome */

position: absolute;
left: 51.67%;
right: 6.67%;
top: 5.08%;
bottom: 91.27%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de Sobrenome */

position: absolute;
width: 500px;
height: 61px;
left: 620px;
top: 122px;

background: #ffffff;
border-radius: 10px;

/* Data de Nascimento */

position: absolute;
left: 6.67%;
right: 51.67%;
top: 15.25%;
bottom: 81.1%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de Data de Nascimento */

position: absolute;
width: 500px;
height: 61px;
left: 80px;
top: 264px;

background: #ffffff;
border-radius: 10px;

/* Icone Calendario */

position: absolute;
width: 31px;
height: 31px;
right: 15px;
top: 15px;

/* CPF */

position: absolute;
left: 51.67%;
right: 6.67%;
top: 15.25%;
bottom: 81.1%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de CPF */

position: absolute;
width: 500px;
height: 61px;
left: 620px;
top: 264px;

background: #ffffff;
border-radius: 10px;

/* CEP */

position: absolute;
left: 6.67%;
right: 51.67%;
top: 53.69%;
bottom: 42.66%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de CEP */

position: absolute;
width: 500px;
height: 61px;
left: 80px;
top: 801px;

background: #ffffff;
border-radius: 10px;

/* Endereço */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 47.89%;
bottom: 48.46%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;

color: #ffffff;

/* Logradouro */

position: absolute;
left: 51.67%;
right: 6.67%;
top: 53.69%;
bottom: 42.66%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de Logradouro */

position: absolute;
width: 500px;
height: 61px;
left: 620px;
top: 801px;

background: #ffffff;
border-radius: 10px;

/* Número */

position: absolute;
left: 6.67%;
right: 51.67%;
top: 63.85%;
bottom: 32.5%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de Numero */

position: absolute;
width: 500px;
height: 61px;
left: 80px;
top: 943px;

background: #ffffff;
border-radius: 10px;

/* Complemento */

position: absolute;
left: 51.67%;
right: 6.67%;
top: 63.85%;
bottom: 32.5%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de Complemento */

position: absolute;
width: 500px;
height: 61px;
left: 620px;
top: 943px;

background: #ffffff;
border-radius: 10px;

/* Bairro */

position: absolute;
left: 6.67%;
right: 51.67%;
top: 74.02%;
bottom: 22.33%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de Bairro */

position: absolute;
width: 500px;
height: 61px;
left: 80px;
top: 1085px;

background: #ffffff;
border-radius: 10px;

/* Cidade */

position: absolute;
left: 51.67%;
right: 6.67%;
top: 74.02%;
bottom: 22.33%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

/* Campo de Cidade */

position: absolute;
width: 500px;
height: 61px;
left: 620px;
top: 1085px;

background: #ffffff;
border-radius: 10px;

color: #ffffff;

/* E-mail */

position: absolute;
left: 51.67%;
right: 6.67%;
top: 25.41%;
bottom: 70.94%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de E-mail */

position: absolute;
width: 500px;
height: 61px;
left: 620px;
top: 406px;

background: #ffffff;
border-radius: 10px;

/* Telefone */

position: absolute;
left: 6.67%;
right: 51.67%;
top: 25.41%;
bottom: 70.94%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de Telefone */

position: absolute;
width: 500px;
height: 61px;
left: 80px;
top: 406px;

background: #ffffff;
border-radius: 10px;

/* Senha */

position: absolute;
left: 6.67%;
right: 51.67%;
top: 35.58%;
bottom: 60.77%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de Senha */

position: absolute;
width: 500px;
height: 61px;
left: 80px;
top: 548px;

background: #ffffff;
border-radius: 10px;

/* Confirmar Senha */

position: absolute;
left: 51.67%;
right: 6.67%;
top: 35.58%;
bottom: 60.77%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-indent: 30px;

color: #ffffff;

/* Campo de Confirmar Senha */

position: absolute;
width: 500px;
height: 61px;
left: 620px;
top: 548px;

background: #ffffff;
border-radius: 10px;

/* Botão */

position: absolute;
width: 240px;
height: 72px;
left: 480px;
top: 1252px;

background: #5399ae;
border-radius: 10px;

/* Cadastrar-se */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
text-align: center;

color: rgba(255, 255, 255, 0.4);
